In [1]:
import numpy as np
import pandas as pd

#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [2]:
ds = pd.Series([11,22,33,44,55])
print(ds)

0    11
1    22
2    33
3    44
4    55
dtype: int64

#2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [6]:
ds = pd.Series([10,20,30,40,50])
print(ds)
print(type(ds))
ls = ds.tolist()
print(ls)
print(type(ls))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
[10, 20, 30, 40, 50]
<class 'list'>

#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [9]:
ds1 = pd.Series([2,4,6,8,10])
print(ds1)
ds2 = pd.Series([1,3,5,7,9])
print(ds2)
add = ds1 + ds2
print("Addition of two series is as follows")
print(add)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
Addition of two series is as follows
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [10]:
ds1 = pd.Series([2,4,6,8,10])
print(ds1)
ds2 = pd.Series([1,3,5,7,9])
print(ds2)
sub = ds1 - ds2
print("Subtraction of two series is as follows")
print(sub)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
Subtraction of two series is as follows
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [11]:
ds1 = pd.Series([2,4,6,8,10])
print(ds1)
ds2 = pd.Series([1,3,5,7,9])
print(ds2)
mul = ds1 * ds2
print("Multiplication of two series is as follows")
print(mul)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
Multiplication of two series is as follows
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [12]:
ds1 = pd.Series([2,4,6,8,10])
print(ds1)
ds2 = pd.Series([1,3,5,7,9])
print(ds2)
div = ds1 / ds2
print("Division of two series is as follows")
print(div)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
Division of two series is as follows
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#4. Write a Pandas program to convert a dictionary to a Pandas series.

In [13]:
dic = {'1': 100, '2': 200, '3':300, '4':400, '5':800}
print("Original dictionary:")
print(dic)
new_series = pd.Series(dic)
print("Converted series:")
print(new_series)

Original dictionary:
{'1': 100, '2': 200, '3': 300, '4': 400, '5': 800}
Converted series:
1    100
2    200
3    300
4    400
5    800
dtype: int64

#5. Write a Pandas program to convert a NumPy array to a Pandas series.

In [18]:
arr = np.array([11,22,33,44])
print("Numpy array")
print(arr)
print("Pandas series is as follows....")
ds = pd.Series(arr)
print(ds)

Numpy array
[11 22 33 44]
Pandas series is as follows....
0    11
1    22
2    33
3    44
dtype: int64

#7. Write a Pandas program to convert a given Series to an array.

In [23]:
ds = pd.Series([11,22,33,44,55])
print(ds)
print("array is as follows")
arr = ds.values
print(arr)

0    11
1    22
2    33
3    44
4    55
dtype: int64
array is as follows
[11 22 33 44 55]

#8. Write a Pandas program to create a dataframe from a dictionary and display it.

In [31]:
df = pd.DataFrame({'X':[10,20,30,40,50], 'Y':[11,22,33,44,55],'Z':[99,88,77,66,55]});
print(df)

    X   Y   Z
0  10  11  99
1  20  22  88
2  30  33  77
3  40  44  66
4  50  55  55