In [1]:
import numpy as np
import pandas as pd

# 9. i) Create a list of empids and names (10 employees).

In [8]:
ls = ["Poonam","Kranti","Divya","Bhakti","Anita","Mahi","Ankita","Sona","Puja","Jui"]
print(ls)

['Poonam', 'Kranti', 'Divya', 'Bhakti', 'Anita', 'Mahi', 'Ankita', 'Sona', 'Puja', 'Jui']

# ii) Convert list into Series.

In [7]:
ls = ["Poonam","Kranti","Divya","Bhakti","Anita","Mahi","Ankita","Sona","Puja","Jui"]
ds = pd.Series(ls)
print(ds)

0    Poonam
1    Kranti
2     Divya
3    Bhakti
4     Anita
5      Mahi
6    Ankita
7      Sona
8      Puja
9       Jui
dtype: object

# iii) Print type of Series.

In [9]:
ls = ["Poonam","Kranti","Divya","Bhakti","Anita","Mahi","Ankita","Sona","Puja","Jui"]
ds = pd.Series(ls)
print(ds)
print(type(ds))

0    Poonam
1    Kranti
2     Divya
3    Bhakti
4     Anita
5      Mahi
6    Ankita
7      Sona
8      Puja
9       Jui
dtype: object
<class 'pandas.core.series.Series'>